In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
sns.set_style("whitegrid")

In [3]:
df = pd.read_csv("data_cleaned.csv")
df.head()

,Name,Year,Body_Type,Origin,Province,District,Transmission,Fuel_Type,Brand,price_num,mileage_num
0,Mercedes-Benz E250,2023,Sedan,Nhập khẩu,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mercedes-Benz,870000000,45000
1,Toyota Camry 2.4G,2012,Sedan,Trong nước,Hà Nội,Other,Số tự động,Máy xăng,Toyota,360000000,120000
2,Ford Territory Titanium X,2023,SUV,Nhập khẩu,Tp.HCM,Quận 10,Số tự động,Máy xăng,Ford,770000000,27000
3,Mazda CX-5,2022,SUV,Trong nước,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mazda,740000000,30000
4,Toyota Previa,2010,Van/Minivan,Nhập khẩu,Tp.HCM,Quận 10,Số tự động,Máy xăng,Toyota,650000000,50000